@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');

body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h1 {
    font-weight: 800;
    font-size: 7vh;
    margin: 0;
    color: rgb(102, 137, 150);
    text-shadow: 2px 2px #AEC6CF;
} 

p {
    font-size: 2vh;
    color: #1F2833;
}

ul {
    line-height: 1.75vh;
}